<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/loginscreen" text="Back" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>Dev-Termux</ion-title>
  
  </ion-toolbar>
  
</ion-header>
  

<ion-content class="ion-padding ion-text-center" color="danger">

 

  <ion-card class="ion-no-margin">
    <ion-img  src="assets/images/tgeniuslogo.png" alt=""></ion-img>
  </ion-card>


  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-label position="floating">email adress</ion-label>
        <ion-input type="text" position="floating"   [(ngModel)]="email"  required>
          
        </ion-input>

      </ion-item>

    </div>

    <div class="sign-btn-wrap">
        <ion-button fill="solid" expand="full" shape="round" class="sign-up" (clock)="forgetpassword()">Reset Password</ion-button>
      <small>
        Please provide the email address that you used when you signed
        up for your Dev-Termux account.
      </small>
      </div>


    <div class="text-tag">
      <span>or via social media</span>
    </div>

    <div class="social-btns">
      <ion-button class="facebookbtn ion-non-padding "  color="white">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button  class="googlebtn  ion-non-padding "  color="white">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
      <ion-button  class="applebtn  ion-non-padding "  color="white">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
  <div class="ion-card-footer">
    <button class="ion-no-padding" (click)="RedirectToLoginPage()">Go back to Login page</button>
  </div>

</ion-content>
