<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="danger">
  <ion-card class="ion-no-margin">
    <ion-img class="tgenylogo" src="assets/images/tgeniuslogo.png" alt="tgeniusclub"></ion-img>
    <ion-card-header color="white">
      <ion-card-title>Welcome</ion-card-title>
      <ion-card-subtitle>
        Enjoy Devtermux.App for termux developers and termux normal users.
        Publish your tool if you are a developer. Get more than 100 termux hacking tools.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card-content>

    <div class="signin-btns">
      <ion-button size="small" class="loginbtn " shape="round" fill="solid" (click)="RedirectToOtherPage()" >
        Login
      </ion-button>
      <ion-button  size="small" color="dark" shape="round" fill="solid" (click)="RedirectToSignUpPage()">
        SignUp
      </ion-button>
    </div>

    <div class="text-tag">
      <span>or via social media</span>
    </div>

    <div class="social-btns">
      <ion-button class="facebookbtn ion-non-padding " color="white"   >
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button  class="googlebtn  ion-non-padding "  color="white">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
      <ion-button  class="applebtn  ion-non-padding "  color="white">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
  <div class="ion-card-footer">
    <button class="ion-no-padding" (click)="RedirectToTabs()">Continue as a Normal user</button>
  </div>
</ion-content>
