ion-toolbar{
  --ion-background-color:#262626 !important;
}
ion-title{
  color: #fbf9f9;
}
ion-content{
  --ion-background-color:#E1EAF9 !important;
  --background: url('/../assets/images/kali.jpg') 0 0/100% 100% no-repeat !important;
}
ion-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
ion-card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
}
ion-card-subtitle{
    font-size: 15px;
    text-align: center;
}
.signin-btns{
  margin:10px;
  text-align: center;
  color:#F0F4F4;
}

.loginbtn{
  --ion-color-primary:#215AB7;
}
.text-tag{
  margin-top: 15px;
  text-align:center;
    span{
      font-size: 20px;
      font-weight: normal;
      color:white;
    }
}
.social-btns{
  margin-top: 15px;
  text-align: center;
  
  --ion-button{
    width: 100px;
    padding-left: 7px !important;

  }
}

ion-card{
  --ion-background-color:trasparent;
  box-shadow: none !important;
}
.ion-card-footer{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content:center;
  display: flex;
  span{
    color:white;
    font-size: 12px;
    font-weight: 200;

  }
  button{
    background-color:transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    color:white;
  }
  button:hover{
    color:blue;
  }
}

.tgenylogo{
  width:80%;
  margin:10% 0 10% 0;
  text-align: center;
}
ion-item{
  ion-input{
    color:firebrick;
  }
}