<ion-app>
<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
  
    <ion-toolbar color="danger">
      <div class="overlay" >
        <ion-avatar >
      <ion-img [src]="user_photo" ></ion-img>
    </ion-avatar>
      </div>

        <div >
          <ion-label style="margin:auto;" >
            Name:{{user_name}}  
           </ion-label>
           <ion-label> 
            {{email_display}}
           </ion-label>
        </div>    
               
    </ion-toolbar>
    
      
   
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/publisher">
        <ion-icon name="clipboard" slot="start"></ion-icon>
      Publish tool
      </ion-item>

      <ion-item>
        <ion-icon name="videocam-outline" slot="start"></ion-icon>
      Publish Youtube link
      </ion-item>

      <ion-item>
        <ion-icon name="albums" slot="start"></ion-icon>
      My Tools
      </ion-item >

      <ion-item routerLink="/tabs">
      <ion-icon name='home-outline' slot='start'></ion-icon>
      Home
      </ion-item >

      <ion-item routerLink="/chat">
      <ion-icon name='book' slot='start'></ion-icon>
      Chat
      </ion-item >

      <ion-item routerLink="/videos">
      <ion-icon name='book' slot='start'></ion-icon>
      Videos
      </ion-item>
      <ion-item routerLink="/posts">

          <ion-avatar>
            <ion-img  src="/../assets/images/tgeny.png"></ion-img>
           
          </ion-avatar>
          <p style=" margin:auto;">
            Tgeniusclub blog</p>
      </ion-item >

    </ion-list>
  </ion-content>

  <ion-footer >
   
    <ion-button (click)="logout()" color="light">
    <ion-icon name="log-out" slot="start" ></ion-icon>
    Log-out
    </ion-button>
    <ion-button color="light" (click)="goToProfile()">
      <ion-icon name="person"></ion-icon>
      Profile</ion-button>
  <ion-toolbar color="danger">
    <ion-title>Dev-Termux</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-menu>
   <ion-router-outlet id="main"></ion-router-outlet> 
 
</ion-app>
