
  

<ion-content color="danger"  >
  <div class="container"  >
    
      <h1 >Edit {{name}} information</h1>
    
      <ion-item color="danger">
        <ion-icon name="person" slot="start"> Username</ion-icon>
        
        {{name}}
      </ion-item>

      <ion-item color="danger">
        <ion-icon name="mail" slot="start"> Email</ion-icon>
        {{email}}
      </ion-item>

      <ion-item color="danger">
        <ion-icon name="call" slot="start"> Phone Number</ion-icon>
        
        {{phone}}
      </ion-item >

      <ion-item color="danger">
        <ion-icon name="id-card-outline" slot="start"> UserId</ion-icon>
        
        {{userId}}
      </ion-item>
      

      <ion-item color="danger">
       <ion-icon name="calendar-number-outline" slot="start">
          
          </ion-icon>
        
        User Since{{usersince | date}}
      </ion-item>
    
      <ion-button color="danger" (click)="editprofile()" class="editbtn" disabled>Edit user</ion-button>
    
  </div>
     
    
  

  

</ion-content>

<!--====================================================-->
<ion-header>
  
  <ion-toolbar color="danger">
    <div class="overlay" >
      <ion-avatar >
    <ion-img [src]="user_photo" (click)="uploadpicture()" >             </ion-img>
  </ion-avatar>
  <ion-title>Edit Profile</ion-title>
    </div>
    
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Name" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-input type="tel" placeholder="Phone No." [(ngModel)]="phone" name="phone" required></ion-input>
        </ion-item>
        <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email"   required></ion-input>

      </ion-item>
      
      
    </div>

    <div class="sign-btn-wrap">
        <ion-button fill="solid" shape="round" class="sign-up" (click)="updateProfile()" color="danger">Update</ion-button>
    </div>

    
  </ion-card-content>
</ion-content>
