<ion-header>
 
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-header>
      <ion-title>All Termux tools</ion-title>
    </ion-header>
    <ion-item-divider>
      <ion-icon name="bug-outline" slot="end"></ion-icon>
      <a (click)="essaie()">Information gathering tools</a>
    </ion-item-divider>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/inspector.png"></ion-img>
      </ion-avatar>
      Th3Inspector
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/nmap.png"></ion-img>
      </ion-avatar>
      Nmap
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/redwahk.png"></ion-img>
      </ion-avatar>
      RED_HAWK
    </ion-item>

  </ion-item-group>

  <ion-item-group>
  <ion-item-divider>
    <ion-icon name="skull-outline" slot="end"></ion-icon>
    Vulnerability Scanning tools
  </ion-item-divider>
  <ion-item>
    <ion-avatar>
      <ion-img src="assets/images/sqlmap.png"></ion-img>
    </ion-avatar>
    Sqlmap
  </ion-item>

  <ion-item>
    <ion-avatar>
      <ion-img src="assets/images/metasploit.png"></ion-img>
    </ion-avatar>
    Metasploit
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-img src="assets/images/websploit.png"></ion-img>
    </ion-avatar>
    Webspoilt
  </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-icon name="hourglass-outline" slot="end"></ion-icon>
      Exploitation tools
    </ion-item-divider>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/instahack.png"></ion-img>
      </ion-avatar>
      Instahack
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/routersploit.png"></ion-img>
      </ion-avatar>
      Routersploit
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-icon name="key-outline" slot="end"></ion-icon>
      Brute forcing tools
    </ion-item-divider>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/hydra.png"></ion-img>
      </ion-avatar>
      Hydra
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/toolx.png"></ion-img>
      </ion-avatar>
      Tool-X
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/onex.png"></ion-img>
      </ion-avatar>
      Onex
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-icon name="git-compare-outline" slot="end"></ion-icon>
      Other best tools
    </ion-item-divider>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/zphisher.png"></ion-img>
      </ion-avatar>
      Zphisher
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/infect.png"></ion-img>
      </ion-avatar>
      Infect
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/sqlmap.png"></ion-img>
      </ion-avatar>
      Kalimux
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/sqlmap.png"></ion-img>
      </ion-avatar>
      IP-Info
    </ion-item>

    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/sqlmap.png"></ion-img>
      </ion-avatar>
      RouterSploit
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="assets/images/sqlmap.png"></ion-img>
      </ion-avatar>
      Maskphisher
    </ion-item>

  </ion-item-group>
</ion-content>
